.addButton, .removeButton, .removeAllButton {
	background: #ffa500;
	outline: none;
	border: none;
	color: #000;
	font-weight: 600;
	font-size: 1.62em;
	line-height: 5px;
	border-radius: 30px;
	height: 40px;
	width: 40px;
}

.removeAllButton {
	background: red;
}

.addButton:hover, .removeButton:hover {
	background: #ffc251;
}

.totalCard {
	background: #ffa500;
}