.addButton, .removeButton {
	background: #ffa500;
	border-radius: 20px;
	outline: none;
	border: none;
	color: #000;
	font-weight: 600;
}

.addButton:hover, .removeButton:hover {
	background: #ffc251;
}

.totalCard {
	background: #ffa500;
}