#formSection{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    width: 100%;
    text-align: center;
}

.formBox{
    position: relative;
    top: -20%;
    width: 400px;
    align-items: stretch;
    border: 1.5px solid rgba(0, 0, 0);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formBox label {
    text-align: left;
}

#signup{
    height: 620px;
}

#login{
    height: 410px;
}

h2{
    font-size: 2em;
    text-align: center;
}

.formInputbox{
    position: relative;
    margin-bottom: 25px;
    width: 310px;
    border-bottom: 2px solid black;
    
}

.formInputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    pointer-events: none;
    transition: 1s; 
    text-align: left;
    color: #ffa500;
}

input#username.activo ~ label{
    left: 200px;
}

input#username:focus ~ label{
    left: 200px;
    color: #ffa500;
}

input#password.activo ~ label{
    left: 200px;
}

input#password:focus ~ label{
    left: 205px;
    color: #ffa500;
}

input#email.activo ~ label{
    left: 200px;
}

input#email:focus ~ label{
    left: 235px;
    color: #ffa500;
}

input#name.activo ~ label{
    left: 200px;
}

input#name:focus ~ label{
    left: 230px;
    color: #ffa500;
}

input#lname.activo ~ label{
    left: 200px;
}

input#lname:focus ~ label{
    left: 200px;
    color: #ffa500;
}

input#fecha.activo ~ label{
    left: 200px;
}

input#fecha:focus ~ label{
    left: 190px;
    color: #ffa500;
}

.formInputbox input{
    width: 100%;
    height: 50px;
    top: 50%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: black;
}

.formInputbox input:focus {
	box-shadow: 0px 0px 0px 0px white;
}

.formInputbox ion-icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    top: 15px;
}

button#button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #ffa500;
    color: black;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
}

button#button:hover{
	background-color: black;
    color: #ffa500;
}

.register{
    font-size: .9em;
    text-align: center;
    margin: 25px 0 10px;
}

.register a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.register a:hover{
    text-decoration: underline;
}

#fecha {
    width: 100%;
    height: 50px;
    top: 50%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: black;
}

#fecha::-webkit-calendar-picker-indicator {
    background-color: yellow;
    color: black;
}

.error{
    color: red;
    font-size: 0.8em;
    text-align: left;
}

.noerror{
    display: none;
}