.dropdownUser {
  position: relative;
  display: inline-block;
  color: black;
  cursor: pointer;
  font-size: 1em;
}


#menuBtn {
  background-color: #ffa500;
  position: relative;
  border: none;
  color: #000;
  font-size: 16px;
  cursor: pointer;
  border-radius: 25px;
  text-align: center;
  display: inline-block;
  line-height: 50px;
  text-align: center;
  height: 50px;
  width: calc(100% + 20px);
}

.menuUser a:hover {
  background: #ffa500;
  transition: all 0.2s ease-in-out;
}


.button2 {
  width: 80px;
  height: 40px;
  border-radius: 40px;
  background: #ffa500;
  color: black;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
}

#icono2, #icono {
  margin-left: 7px;
  position: relative;
  top: 7px;
  font-size: 1.5em;
  margin-right: 5px;
}


#profile-dropdown {
  position: relative;
  display: inline-block;
  font-size: 30px;
}

.nav-item {
  margin: 10px;
  height: -10px;
}

.top-nav{
  background-color: #fff7ee;
  height: 100px;
}

.item-user-profile{
  margin-right: 80px;
}

.item-brand{
  margin-left: 50px;
}