.dropdown {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 40px;

  color: black;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 40px;
  height: 35px;
  background: #fff;
}

#menuBtn:focus+.dropdown-content,

.dropdown-item:hover {
  display: block;
}


#menuBtn {
  border-radius: 80px;
  background-color: #ffa500;
  position: relative;
  border: none;
  color: #000;
  font-size: 16px;
  cursor: pointer;
  border-radius: 25px;
  text-align: center;
  display: inline-block;
  line-height: 30px;
  text-align: center;
  width: 100px;
  height: 50px;
}

.dropdown-content a {
  display: block;
  padding: 10px;
  height: 40px;
  width: 120px;
  text-decoration: none;
  color: #000000;
  margin-top: 5px;
}

.dropdown-menu a:hover {
  background: #ffa500;
  transition: all 0.2s ease-in-out;
}


ion-icon {
  position: relative;
  top: 7px;
  font-size: 1.5em;
  margin-right: 5px;
}

.button2 {
  width: 80px;
  height: 40px;
  border-radius: 40px;
  background: #ffa500;
  color: black;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
}

#dropdownIcon {
  width: 50px;
}