* {
    margin: 0;
    padding: 0
}

.image img {
    transition: all 0.5s
}

.image img {
    transform: scale(1.5)
}

.btn {
    height: 160px;
    width: 160px;
    border-radius: 50%
}

.name {
    font-size: 22px;
    font-weight: bold
}

.idd {
    font-size: 14px;
    font-weight: 600
}

.btn1 {
    height: 40px;
    width: 150px;
    border: none;
    background-color: #000;
    color: #aeaeae;
    font-size: 15px
}

